<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  <title>Search result</title>
</head>

<body>
    
    
  <h3>Results for {{{query}}}:</h3>
    {{#if result}}
    
    <p>Pizza: {{{result.name}}}</p>
    <p>Cheese: {{{result.cheese}}}</p>
    <p>Base: {{{result.base}}}</p>
    
    <p>Delete {{{query}}} ?</p>
    
    <form action="/delete" method="post">
    <button name="name" type="delete" value="{{result.name}}">Delete</button>
    </form>
    
    {{else}}
    <p>Not found</p>
    
    {{/if}}
    
    
</body>
</html>